
@font-face {
  font-family: Rascal;
  src: url(font/rascal/RASCAL__.TTF);
}
@font-face {
  font-family: Filxgirl;
  src: url(font/Filxgirl/Filxgirl.TTF);
}


body{
	margin: auto;
  text-align: center;
	width: 80%;
	background-color: #ad3244;
  padding-top: 5%;
  padding-bottom: 5%;
}

h1 {
	color:rgba(255, 225, 92, 0.77);
  font-size: 50px;
  font-family: Rascal;
}


h2 {
  font-family: "Lora", serif;    
  font-weight: normal; 
  font-size: 20px;
	color:#b5bb86
  }

h3{
  font-family: "Lora", serif;    
  font-weight: normal; 
  font-size: 15px;
	color:#b5bb86
}

#me{
  font-family: Filxgirl;
  font-size: 40px;
  position: relative;
  left: 30%;
}

.name{
  position: static;
  left: 10%;
}



.container img {
    border: 5px solid rgba(255, 225, 92, 0.77); 
  }
.container img:hover {
    box-shadow: 0px 0px 15px 5px  rgba(255, 225, 92, 0.77);
    width: 120%;
    filter: hue-rotate(90deg);

}

#alina:hover{
  width: 100%
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    color: #e0e8a0;
    gap: 50px;
    margin: center;
    position: relative;
    top: 20%;
    left: 20%;
    width: 65%;
  }

  a {
    color:#e0e8a0;
      font-family: "Lora", serif;
      font-weight: normal; 
      font-size: 20px;
  }
  
  a:hover {
    color: rgb(179, 167, 0);
      background-color: bisque;
      box-shadow: 0px 0px 15px 5px  rgba(255, 225, 92, 0.77);
  }